<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Remarketing Lover - Catalog & Feed</h1>
                        <p class="text-xs-left"><strong>I just love turning those VC events into Purchases!</strong></p>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs5 class="sprint-tooltip setting-tip" pt-5>
                <v-tooltip bottom color="orange darken-2">
                    <v-icon
                            slot="activator"
                            color="orange darken-2"
                            dark
                    >whatshot</v-icon>
                    <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                </v-tooltip>
                <v-btn icon @click="" class="mt-0"><v-icon color="blue darken-1">school</v-icon></v-btn>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex md4 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Business Manager:</label>
                <v-select
                        :items="bm_listing"
                        label="Select Status"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                ></v-select>
                <v-btn class="tf-app-cta left primary" flat>Save</v-btn>
                <v-btn class="tf-app-cta left primary" flat>Save & Build</v-btn>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card flat class="border-arround">
                    <h2 class="text-xs-left pl-3">Catalog Listing:</h2>
                    <v-card-text>
                        <v-layout row wrap class="aud-videos">
                            <v-flex sm6 px-0>
                                <v-btn class="tf-app-cta left primary" flat>Manage Catalog!</v-btn>
                                <v-btn class="tf-app-cta left primary" flat>Add Catalog!</v-btn>
                            </v-flex>
                            <v-flex sm6>
                                <v-select
                                        :items="bmListed"
                                        label="Select BM"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field right"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-data-table
                                        :headers="headers"
                                        :items="desserts"
                                        class="data-listings"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                        <td class="text-xs-left">{{ props.item.calories }}</td>
                                        <td class="text-xs-left">{{ props.item.fat }}</td>
                                        <td class="text-xs-left">{{ props.item.carbs }}</td>
                                        <td class="text-xs-left">{{ props.item.protein }}</td>
                                        <td class="justify-center layout px-0">
                                            <v-btn icon>
                                                <v-icon small>
                                                    edit
                                                </v-icon>
                                            </v-btn>
                                            <v-btn icon>
                                                <v-icon small>
                                                    delete
                                                </v-icon>
                                            </v-btn>
                                        </td>
                                    </template>
                                    <template slot="no-data">
                                        <v-btn color="primary" @click="">Reset</v-btn>
                                    </template>
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data(){
            return{
                bm_listing:['AOEIRU293874293478','AIRU293874293478','AOEIRU293874298'],
                bmListed:['2445A4Ej8873424ADF'],
                dialog: false,
                dialog2: false,
                select:'Shopify Store 1',
                items: [
                    'Shopify Store 1',
                    'Shopify Store 2',
                    'Shopify Store 3',
                    'Shopify Store 4'
                ],
                entriesItems:['10','25','50','100','200','500','All'],
                headers: [
                    {
                        text: 'Catalog Name',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Feed Name', value: 'calories' },
                    { text: 'Last Uploaded', value: 'fat' },
                    { text: 'Status', value: 'carbs' },
                    { text: 'Next Uploaded', value: 'protein' },
                    { text: 'Actions', value: 'name', sortable: false, align: 'center', }
                ],
                desserts: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                    protein: 0
                },
                defaultItem: {
                    name: '',
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                    protein: 0
                }
            }
        },
        created () {
            this.initialize()
        },
        methods: {
            initialize() {
                this.desserts = [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                        fat: 16.0,
                        carbs: 23,
                        protein: 6.0
                    },
                    {
                        name: 'Cupcake',
                        calories: 305,
                        fat: 3.7,
                        carbs: 67,
                        protein: 4.3
                    },
                    {
                        name: 'Gingerbread',
                        calories: 356,
                        fat: 16.0,
                        carbs: 49,
                        protein: 3.9
                    },
                    {
                        name: 'Jelly bean',
                        calories: 375,
                        fat: 0.0,
                        carbs: 94,
                        protein: 0.0
                    },
                    {
                        name: 'Lollipop',
                        calories: 392,
                        fat: 0.2,
                        carbs: 98,
                        protein: 0
                    },
                    {
                        name: 'Honeycomb',
                        calories: 408,
                        fat: 3.2,
                        carbs: 87,
                        protein: 6.5
                    },
                    {
                        name: 'Donut',
                        calories: 452,
                        fat: 25.0,
                        carbs: 51,
                        protein: 4.9
                    },
                    {
                        name: 'KitKat',
                        calories: 518,
                        fat: 26.0,
                        carbs: 65,
                        protein: 7
                    }
                ]
            }
        }
    }
</script>